body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

#login-form {
  padding: 2rem;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

#login-form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

#hero {
  padding: 2rem;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  width: 50%;
  margin: 2rem auto;
  text-align: center;
}

#hero h1 {
  font-size: 2rem;
}

#hero p {
  font-size: 1.5rem;
}

#hero button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#hero button:hover {
  background-color: #444;
}